<%- include('partials/header.ejs') %>

<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <title>Answer</title>
    </head>
    <body>
        <h2 style="padding-top: 10px; padding-left: 60px;"><%- question.text%></h2>
        <hr style="border-top: 1px solid; margin-left: 30.0px; margin-right: 30.0px; opacity: 0.6;"/>
    </body>
</html>

